extends ../base

block content
  main.main
    .login-form
      form.form.form--login
       label(for='name') Name:
       input#name.form__input(type='text' name='name')

       label(for='email') Email:
       input#email.form__input(type='email' name='email')

       label(for='password') Password:
       input#password.form__input(type='password' name='password')

       button.btn Register


