footer.footer
  .footer-logo
    img(src='img/cavalry-icon.png' alt='Cavalry logo')
  ul.footer__nav
    li: a(href='#') Footer List 1
    li: a(href='#') Footer List 2
    li: a(href='#') Footer List 3
    li: a(href='#') Footer List 4
    li: a(href='#') Footer List 5
  p.footer__copyright by Yogi Wijaya.
