header.header
  nav.nav.nav--cavalry
    a.nav__el(href='#') prototypeCavalry
  .header__logo
    img(src='img/cavalry-icon.png' alt='Cavalry logo')
  nav.nav.nav--user
    //- a.nav__el(href='#') prototypeUser1
    //- a.nav__el(href='#')
    //-   img.nav__user-img(src='img/user.jpg' alt='User photo')
    //-   span yogi
    button.nav__el Log in
    button.nav__el.nav__el--cta Sign up
