header.header
  nav.nav.nav--cavalry
    a.nav__el(href='#') Cavalry
  .header__logo
    img(src='/img/cavalry-icon.png' alt='Cavalry logo')
  nav.nav.nav--user
    if user
      button.nav__el.nav__el--logout Log out
      a.nav__el(href='#')
        if user.name.includes(' ')
          span= user.name.split(' ')[0]
        else
          span= user.name
    else
      a.nav__el(href='/auth/login') Log in
      a.nav__el.nav__el--cta(href='/auth/register') Sign up
