doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Cavalry | #{slogan}
    link(rel='stylesheet' href='css/main.css')
    link(rel='shortcut icon' type='image/png' href='img/cavalry-icon.png')

  body
    // HEADER
    include _header

    // CONTENT
    section.overview
      h1= cavalry

    // FOOTER
    include _footer
